:root{
  --lime: hsl(61,70%,52%);
  --red: hsl(4,69%,50%);
  --white:hsl(0,0%,100%);
  --slate_100: hsl(202,86%,94%);
  --slate_300: hsl(203,41%,72%);
  --slate_500: hsl(200,26%,54%);
  --slate_700: hsl(200,24%,40%);
  --slate_900: hsl(202,55%,16%);
}

@font-face{
  font-family: "Plus Jakarta Sans";
  src:url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
  /* color:var(--slate_900); */
}

body{
  background-color: var(--slate_100);
}

.container{
  max-width: 1200px;
  margin:4rem auto;
  display: flex;
  background-color: var(--white);
  border-radius: 1.5rem;
  flex-wrap: wrap;
}

.calculator, .result{
  padding: 2rem 3rem;
  flex: 1;
}

.result{
  background-color: var(--slate_900);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 5rem;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title h1{
  font-size: 2.5rem;
  font-weight: 700;
}

.title button{
  border: none;
  background-color: transparent;
  color:var(--slate_700);
  text-decoration: underline;
  cursor: pointer;
}

.title button:hover{
  color:var(--slate_900);
}

.input-box{
  border: 1px solid var(--slate_300);
  border-radius: 0.5rem;
  height: 3rem;
  overflow: hidden;
  margin-top: 1rem;
}

.row-1{
  margin-top: 2rem;
}

.amount-input{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon{
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: var(--slate_100);
  
}

.icon span{
  font-size: 1.5rem;
  font-weight: 700;
}
.amount-input input{
  width: 100%;
  flex: 1;
  border: none;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  border: none;
  outline: none;
  color:var(--slate_900);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

label{
  color:var(--slate_700);
}

  .input-box:focus-within .icon{
  border: 1px solid var(--lime);
  background-color: var(--lime);

}
.input-box:focus-within{
  border: 1px solid var(--lime);
}


.row-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 2rem;
  gap: 1rem;
}

.row-3{
  margin-top: 1rem;
}

.type{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}

.type-input{
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid var(--slate_300);
  padding: 0rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  color:var(--slate_900);
  height: 3rem;
}

.type-input input{
  margin-right: 1rem;
  
}
input[type=radio] {
  /* border: 0px; */
  width: 1.5rem;
  height: 1.5rem;
}

.type-input label{
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.type-input:focus-within, .type-input:focus-within input{
  border: 1px solid var(--lime);
  accent-color: rgba(215, 218, 47, 0.06);
  background-color: rgba(215, 218, 47, 0.06);
}

.type-input:has(:checked), input[type=radio]:checked{
  border: 1px solid var(--lime);
  accent-color:var(--lime);
  background-color: rgba(215, 218, 47, 0.06);
}

.submit{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--lime);
  color:var(--slate_900);
  border: none;
  border-radius:2rem;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.submit img{
  margin-right: 1.5rem;
}

.input-box:hover, .submit:hover, .type-input:hover{
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
}

h1{
  font-size: 2rem;
  font-weight: 700;
}

.error{
  border: 1px solid var(--red);
}

.error-icon{
  background-color: var(--red);
  color:var(--white);
  border: 1px solid var(--red);
}



.error-message{
  color:var(--red);
  font-size: .8rem;
  margin-top: 1rem;
}

.empty{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: var(--white);
  /* display: none; */
}

.empty h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.empty p{
  color:var(--slate_300);
}

.result{
  color:var(--white);
  
}

.result h2{
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.result p{
  color:var(--slate_300);
}

.result-box{
  margin-top: 2rem;
  background-color: #0D2430;
  padding: 1rem 2rem;
  position: relative;
  border-radius: 1rem;
}

.result-box::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px; /* Thickness of the top border line */
  background-color: var(--lime); /* Custom color for the line */
  border-radius: 1rem 1rem 0 0;
}

.result-box p{
  margin: 2rem 0 1rem 0;
}

.line{
  border-top: 1px solid var(--slate_700);
  margin-top: 2rem;
}

.result-box h1{
  color:var(--lime);
}

.result-container{
  display: none;
}


@media only screen and (max-width: 1024px){
  .container{
    margin-top: 0;
    flex-direction: column;
  }
  .result, .calculator, .container{
    border-radius: 0%;
  }
}

@media only screen and (max-width: 768px) {
  .row-2{
    grid-template-columns: 1fr;
  }
  .calculator, .result{
    padding: 2rem 1.5rem;
  }

  .amount-input input{
    font-size: 1.2rem;
  }

  .title{
    flex-direction: column;
    align-items: flex-start;
  }

  .title h1{
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}